.authentication_form {
  position: absolute;
  top: 150px;
  left: 340px;
  width: 200px;
  padding: 20px 20px;
  color: #333;
  background-color: #222;
  box-shadow: 0px 0px 6px 1px #181818;
  h1 {
    margin: 0 auto 30px auto;
    font-size: 24px;
    font-weight: 100;
    font-family: verdana;
    color: #AAA;
  }
  .field {
    margin-bottom: 13px;
    color: #888;
  }
  .field input {
    width: 190px;
    background-color: #FAFFBD;
    margin-top: 6px;
  }
  .actions input {
    cursor: pointer;
  }
}