html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: verdana;
}

a {
  text-decoration: none;
}

#main {
  position: relative;
  height: 100%;
  width: 900px;
  margin: auto auto;
  background-color: #162232;
  box-shadow: 0px 0px 6px 1px #111;
}

#brand a {
  position: absolute;
  top: 19px;
  left: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #292929;
  text-shadow: 0 0 25px #CCC;
  &:hover {
    color: #fff;
  }
}

#login_header {
  position: absolute;
  top: 38px;
  right: 30px;
  color: #AAA;
  font-size: 11px;
  a {
    margin: 0 3px;
    color: #0CC;
  }
  a:hover {
    color: #FFF;
  }
}